.huge-parens {
  font-family: monospace;
  font-weight: bolder;
  font-size: 15rem;
  text-align: center;
}

.instructions {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.score {
  font-size: 3rem;
}

.upgrade-button {
  font-family: monospace;
  text-align: left;
}
